#browser-extension-gitbranch__container{
    margin-top:1rem;
    padding-left: 20px;
}

#browser-extension-gitbranch__table {
	justify-content: space-between;
  }

#browser-extension-gitbranch__select{
	margin:0 auto;
	margin-top:0.8rem;
	margin-bottom:1.4rem;
	padding:0.25rem 0.5rem;
	border-radius:3px;
	border:0;
}

#browser-extension-gitbranch__select option{
	background-color:#fff
}

.flex-container {
	display:flex;
}

.space-between { 
	justify-content: space-between; 
}  

.ml-1 {
	margin-left:1rem;
}

.w-100 {
	width:100%;
}

.maxw-36 {
	max-width:36rem;
}